body {
  background: #F7F2F2;
  font-family: constantia;
  color: #343a40;
}

body #logo {
  padding: 0;
  margin: 0;
  width: 190px;
}

body .dropdown-menu {
  background-color: #343a40;
}

body .dropdown-menu a {
  color: rgba(255, 255, 255, 0.5);
}

body .underNav {
  margin-top: 72px;
}

body .page-footer {
  background-color: #343a40;
  color: #F7F2F2;
  font-size: .75rem;
}

.companyName {
  margin-bottom: 5px;
}

.address {
  color: #21a39e;
  text-align: center;
}

.contact {
  text-align: center;
  list-style-position: inside;
}

.contact #name {
  margin-bottom: 5px;
}

.contact .contactInfo {
  margin: 0;
  padding-left: 20px;
}

.contact .contactInfo #cell {
  list-style-image: url("just_sew/img/phoneSmall.png");
}

.contact .contactInfo #mail {
  list-style-image: url("just_sew/img/mailSmall.png");
}

.changeSlip {
  content: url(just_sew/img/home_slip_mobile.jpg);
}

.changePillow {
  content: url(just_sew/img/home_pillow_mobile.jpg);
}

.changeEmbroidery {
  content: url(just_sew/img/home_embroidery_mobile.jpg);
}

.changeProject {
  content: url(just_sew/img/home_project_mobile.jpg);
}

.changeFabric {
  content: url(just_sew/img/home_fabric_mobile.jpg);
}

@media (min-width: 992px) {
  .changeSlip {
    content: url(just_sew/img/home_slip.jpg);
  }
  .changePillow {
    content: url(just_sew/img/home_pillow.jpg);
  }
  .changeEmbroidery {
    content: url(just_sew/img/home_embroidery.jpg);
  }
  .changeProject {
    content: url(just_sew/img/home_project.jpg);
  }
  .changeFabric {
    content: url(just_sew/img/home_fabric.jpg);
  }
}

#aboutPortrait {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
}

.aboutHeader {
  margin-top: 20px;
}

.banner {
  position: relative;
  height: 200px;
}

.banner .bannerHeader {
  height: 200px;
}

.banner::before {
  content: "";
  background-image: url(just_sew/img/reviews_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.reviewsHeader {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}

.review-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  padding: 20px;
  grid-auto-columns: 1fr;
      grid-template-areas: 'beth' 'marianne' 'marcy' 'elizabeth' 'heidi' 'kate' 'cindy' 'sandra' 'nancy';
}

.review {
  border: 2px solid #343a40;
  background-color: #eeeaea;
  padding: 20px;
}

.beth {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: beth;
}

.marianne {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: marianne;
}

.marcy {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: marcy;
}

.elizabeth {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: elizabeth;
}

.heidi {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: heidi;
}

.kate {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: kate;
}

.cindy {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: cindy;
}

.sandra {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: sandra;
}

.nancy {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: nancy;
}

@media (min-width: 768px) {
  .review-grid {
        grid-template-areas: 'heidi marianne' 'nancy marianne' 'elizabeth beth' 'cindy cindy' 'kate sandra' 'kate marcy';
  }
}

@media (min-width: 1200px) {
  .review-grid {
        grid-template-areas: 'beth marianne marianne' 'marcy kate elizabeth' 'heidi kate sandra' 'cindy cindy nancy';
  }
}

@media (min-width: 768px) {
  .address {
    text-align: left;
  }
  .contact {
    text-align: right;
  }
  .banner {
    height: 300px;
  }
  .banner .bannerHeader {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-item .dropdown-menu {
    display: none;
  }
  .navbar .navbar-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .navbar-item .dropdown-menu {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */