@import './config';

@function breakPoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
        @media (min-width: $value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
//applies to all pages:
body {
    background: $primary-color;
    font-family: $primary-font;
    color: $dark-text-color;
    #logo {
        padding: 0;
        margin: 0;
        width: 190px;
        cursor: pointer;
    }
    .dropdown-menu {
        background-color: $dark-color;
        a {
            color: rgba(255, 255, 255, .5);
        }
    }
    .underNav {
        margin-top: 72px;
    }
    .page-footer {
        background-color: $dark-color;
        color: $light-text-color;
        font-size: .75rem;
    }
}
.companyName {
    margin-bottom: 5px;
}
.address {
    color: $accent-color;
    text-align: center;
}
.contact {
    text-align: center;
    list-style-position: inside;
    #name {
        margin-bottom: 5px;
    }
    .contactInfo {
        margin: 0;
        padding-left: 0px;
        
        #cell {
            list-style-image: url("/img/phoneSmall.png");
        }
        #mail {
            list-style-image: url("/img/mailSmall.png");
        }
    }
}
.bannerHeader {
    height: 200px;
}


//index.html
.changeSlip {
    content: url(/img/home_slip_mobile.jpg);
    cursor: pointer;
}
.changePillow {
    content: url(/img/home_pillow_mobile.jpg);
    cursor: pointer;
}
.changeEmbroidery {
    content: url(/img/home_embroidery_mobile.jpg);
    cursor: pointer;
}
.changeProject {
    content: url(/img/home_project_mobile.jpg);
    cursor: pointer;
}
.changeFabric {
    content: url(/img/home_fabric_mobile.jpg);
    cursor: pointer;
}
.captionTitle {
    font-size: 1.75rem;
    color: $accent-color;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color, -3px 0 $dark-color, 0 3px $dark-color, 3px 0 $dark-color, 0 -3px $dark-color;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.45);
    padding: 5px 0;
    
}
.home {
    background-color: $home-background;
}
#homeCarousel {
    margin: 0 auto;
    margin-top: 72px; 
}
.homeCarouselDiv {
    padding: 0;
}
.spanSlide {
    font-size: 1.5rem;
    color: $accent-color;
    text-shadow: -1px 0 $dark-color, 0 1px $dark-color, 1px 0 $dark-color, 0 -1px $dark-color;
    cursor: pointer;
}

//services:slipcovers
.slipBanner {
    position: relative;
    height: 200px;
}
.slipBanner::before {
    content: "";
    background-image: url(/img/slip_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.slipHeader {
    position: relative;
    font-size: 3rem;
    color: $accent-color;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color, -2px 0 $dark-color, 0 2px $dark-color, 2px 0 $dark-color, 0 -2px $dark-color;
}
.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top {
    width: 100%;
    height: 60vw;
    object-fit: cover;
}
.card-img-bottom {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}
.modalX {
    position: absolute;
    right: 20px;
    color: #FFF;
}

//about.html
#aboutPortrait {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}
.aboutHeader {
    margin-top: 20px;
    color: $accent-color;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color, -2px 0 $dark-color, 0 2px $dark-color, 2px 0 $dark-color, 0 -2px $dark-color;
}

//reviews.html
.reviewBanner {
    position: relative;
    height: 200px;
}

.reviewBanner::before {
    content: "";
    background-image: url(/img/reviews_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.reviewsHeader {
    position: relative;
    font-size: 3rem;
    color: $accent-color;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color, -2px 0 $dark-color, 0 2px $dark-color, 2px 0 $dark-color, 0 -2px $dark-color;
}
.beth {
    grid-area: beth;
}
.marianne {
    grid-area: marianne;
}
.marcy {
    grid-area: marcy;
}
.elizabeth {
    grid-area: elizabeth;
}
.heidi {
    grid-area: heidi;
}
.kate {
    grid-area: kate;
}
.cindy {
    grid-area: cindy;
}
.sandra {
    grid-area: sandra;
}
.nancy {
    grid-area: nancy;
}
.gail {
    grid-area: gail;
}
.andrea {
    grid-area: andrea;
}
.pennyjulie {
    grid-area: pennyjulie;
}
.joanne {
    grid-area: joanne;
}
.carolyn {
    grid-area: carolyn;
}
.review-grid {
    display: grid;
    gap: 1.5rem;
    padding: 20px;
    grid-auto-columns: 1fr;
    
    grid-template-areas: 
        'beth'
        'marianne'
        'pennyjulie'
        'marcy'
        'elizabeth'
        'heidi'
        'kate'
        'cindy'
        'sandra'
        'nancy'
        'gail'
        'andrea'
        'joanne'
        'carolyn'
    ;
}
.review {
    border: 2px solid $dark-text-color;
    background-color: $medium-background;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

//contact.html
.contactBanner {
    position: relative;
    height: 200px;
}
.contactBanner::before {
    content: "";
    background-image: url(/img/contact_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.contactHeader {
    position: relative;
    font-size: 3rem;
    color: $accent-color;
    text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color, -2px 0 $dark-color, 0 2px $dark-color, 2px 0 $dark-color, 0 -2px $dark-color;
}
.important {
    color: darkred;
}
.legend {
    font-size: 1rem;
}


//mixins
//index.html
@include respond-above(sm) {
    .carousel-caption {
        background: rgba(0, 0, 0, 0.45);
        max-width: 60%;
        width: 60%;
        left: 20%;
        padding: 5px 0;
    }
    .captionTitle {
        font-size: 3rem;
    }
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}  
@include respond-above(md) {
    .changeSlip {
        content: url(/img/home_slip.jpg);
    }
    .changePillow {
        content: url(/img/home_pillow.jpg);
    }
    .changeEmbroidery {
        content: url(/img/home_embroidery.jpg);
    }
    .changeProject {
        content: url(/img/home_project.jpg);
    }
    .changeFabric {
        content: url(/img/home_fabric.jpg);
    }
    .homeCarouselDiv {
        padding: 0 9%;
    }
    .carousel-caption {
        background: rgba(0, 0, 0, 0.45);
        max-width: 40%;
        width: 40%;
        left: 30%;
        padding: 5px 0;
    }
    .captionTitle {
        font-size: 4rem;
    }
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    .card-img-bottom {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
}
@include respond-above(lg) {
    .card-img-bottom {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}
@include respond-above(xl) {
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
    .card-img-bottom {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
}

//services
//slipcovers

//pillows

//embroidery

//projects

//fabric sales

//reviews
@include respond-above(md) {
    .review-grid {
        margin: 0 auto;
        max-width: 1200px;
    }
}
@include respond-above(sm) {
    .review-grid {
        grid-template-areas: 
            'carolyn carolyn'
            'heidi marianne'
            'nancy marianne'
            'elizabeth beth'
            'cindy cindy'
            'kate sandra'
            'kate marcy'
            'pennyjulie pennyjulie'
            'andrea gail'
            'joanne gail'
        ;
    }
}

@include respond-above(lg) {
    .review-grid {
        grid-template-areas: 
            'beth marianne marianne'
            'sandra sandra kate'
            'carolyn andrea kate'
            'carolyn joanne heidi'
            'pennyjulie pennyjulie cindy'
            'nancy marcy cindy'
            'elizabeth gail gail'
            
        ;
    }
}

//contact
@include respond-above(sm) {
    iframe {
        width: 600px;
        height: 450px;
    }
}

//applies to all
@include respond-above(sm) {
    .address {
        text-align: left;
    }
    .contact {
        text-align: right;
    }
    .reviewBanner, .slipBanner, .contactBanner, .bannerHeader {
        height: 250px;
    }  
}
@include respond-above(md) {
	.navbar .navbar-item .dropdown-menu{ display: none; }
	.navbar .navbar-item:hover .dropdown-menu{ display: block; }
	.navbar .navbar-item .dropdown-menu{ margin-top:0; }
}