@import './config';

@function breakPoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
        @media (min-width: $value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
//applies to all pages:
body {
    background: $primary-color;
    font-family: $primary-font;
    color: $dark-text-color;
    #logo {
        padding: 0;
        margin: 0;
        width: 190px;
    }
    .dropdown-menu {
        background-color: $dark-color;
        a {
            color: rgba(255, 255, 255, .5);
        }
    }
    .underNav {
        margin-top: 72px;
    }
    .page-footer {
        background-color: $dark-color;
        color: $light-text-color;
        font-size: .75rem;
    }
}
.companyName {
    margin-bottom: 5px;
}
.address {
    color: $accent-color;
    text-align: center;
}
.contact {
    text-align: center;
    list-style-position: inside;
    #name {
        margin-bottom: 5px;
    }
    .contactInfo {
        margin: 0;
        padding-left: 20px;
        
        #cell {
            list-style-image: url("/just_sew/img/phoneSmall.png");
        }
        #mail {
            list-style-image: url("/just_sew/img/mailSmall.png");
        }
    }
}
.bannerHeader {
    height: 200px;
}


//index.html
.changeSlip {
    content: url(/just_sew/img/home_slip_mobile.jpg);
}
.changePillow {
    content: url(/just_sew/img/home_pillow_mobile.jpg);
}
.changeEmbroidery {
    content: url(/just_sew/img/home_embroidery_mobile.jpg);
}
.changeProject {
    content: url(/just_sew/img/home_project_mobile.jpg);
}
.changeFabric {
    content: url(/just_sew/img/home_fabric_mobile.jpg);
}
  

@include respond-above(md) {
    .changeSlip {
        content: url(/just_sew/img/home_slip.jpg);
    }
    .changePillow {
        content: url(/just_sew/img/home_pillow.jpg);
    }
    .changeEmbroidery {
        content: url(/just_sew/img/home_embroidery.jpg);
    }
    .changeProject {
        content: url(/just_sew/img/home_project.jpg);
    }
    .changeFabric {
        content: url(/just_sew/img/home_fabric.jpg);
    }
}
//services:slipcovers
.slipBanner {
    position: relative;
    height: 200px;
}
.slipBanner::before {
    content: "";
    background-image: url(/just_sew/img/slip_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.slipHeader {
    position: relative;
    font-size: 3rem;
}

//about.html
#aboutPortrait {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}
.aboutHeader {
    margin-top: 20px;
}

//reviews.html
.reviewBanner {
    position: relative;
    height: 200px;
}
.reviewBanner::before {
    content: "";
    background-image: url(/just_sew/img/reviews_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.reviewsHeader {
    position: relative;
    font-size: 3rem;
}
.review-grid {
    display: grid;
    gap: 1.5rem;
    padding: 20px;
    grid-auto-columns: 1fr;
    
    grid-template-areas: 
        'beth'
        'marianne'
        'marcy'
        'elizabeth'
        'heidi'
        'kate'
        'cindy'
        'sandra'
        'nancy'
    ;
}
.review {
    border: 2px solid $dark-text-color;
    background-color: $medium-background;
    padding: 20px;
}
.beth {
    grid-area: beth;
}
.marianne {
    grid-area: marianne;
}
.marcy {
    grid-area: marcy;
}
.elizabeth {
    grid-area: elizabeth;
}
.heidi {
    grid-area: heidi;
}
.kate {
    grid-area: kate;
}
.cindy {
    grid-area: cindy;
}
.sandra {
    grid-area: sandra;
}
.nancy {
    grid-area: nancy;
}

@include respond-above(sm) {
    .review-grid {
        grid-template-areas: 
            'heidi marianne'
            'nancy marianne'
            'elizabeth beth'
            'cindy cindy'
            'kate sandra'
            'kate marcy'
        ;
    }
}

@include respond-above(lg) {
    .review-grid {
        grid-template-areas: 
            'beth marianne marianne'
            'marcy kate elizabeth'
            'heidi kate sandra'
            'cindy cindy nancy'
        ;
    }
}

@include respond-above(sm) {
    .address {
        text-align: left;
    }
    .contact {
        text-align: right;
    }
    .reviewBanner, .slipBanner, .bannerHeader {
        height: 300px;
    }
}

@include respond-above(md) {
	.navbar .navbar-item .dropdown-menu{ display: none; }
	.navbar .navbar-item:hover .dropdown-menu{ display: block; }
	.navbar .navbar-item .dropdown-menu{ margin-top:0; }
}