@import './config';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function breakPoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}

@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
        @media (min-width: $value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

body {
    background: $primary-color;
    font-family: $primary-font;
    color: $text-color;

    .carousel {
        margin-top: 72px;
    }

    #logo {
        padding: 0;
        margin: 0;
        width: 200px;
    }

    .dropdown-menu {
        background-color: #343a40;
        a {
            color: rgba(255, 255, 255, .5);
        }
    }
}

.changeSlip {
    content: url(/img/home_slip_mobile.jpg);
}
.changePillow {
    content: url(/img/home_pillow_mobile.jpg);
}
.changeEmbroidery {
    content: url(/img/home_embroidery_mobile.jpg);
}
.changeProject {
    content: url(/img/home_project_mobile.jpg);
}
.changeFabric {
    content: url(/img/home_fabric_mobile.jpg);
}
  

@include respond-above(md) {
    .changeSlip {
        content: url(/img/home_slip.jpg);
    }
    .changePillow {
        content: url(/img/home_pillow.jpg);
    }
    .changeEmbroidery {
        content: url(/img/home_embroidery.jpg);
    }
    .changeProject {
        content: url(/img/home_project.jpg);
    }
    .changeFabric {
        content: url(/img/home_fabric.jpg);
    }
}

@include respond-above(md) {
	.navbar .navbar-item .dropdown-menu{ display: none; }
	.navbar .navbar-item:hover .dropdown-menu{ display: block; }
	.navbar .navbar-item .dropdown-menu{ margin-top:0; }
}